# Set
1) Unordered & Unindexed collection of items.
2) Set elements are unique. Duplicate elements are not allowed.
3) Set elements are immutable (cannot be changed).
4) Set itself is mutable. We can add or remove items from it.

In [2]:
my_set=set()    # way to create empty set
print(type(my_set))

<class 'set'>

In [4]:
my_set={1,2,3,4,5} #set of integers
my_set

{1, 2, 3, 4, 5}

In [5]:
my_set={1,1,1,2,2,2,2,2,3,4,5,6} #duplicate elements are not allowed in the set
my_set

{1, 2, 3, 4, 5, 6}

In [6]:
my_set={1.2,2.4,6.1,8.2} #set of floating number
my_set

{1.2, 2.4, 6.1, 8.2}

In [7]:
my_set={"chetan","manish","karan","dimple","naitik"} #set of string
my_set

{'chetan', 'dimple', 'karan', 'manish', 'naitik'}

In [9]:
my_set={1,4.2,"chetan","karan",(2,1,5)} #set with mixed data type
my_set

{(2, 1, 5), 1, 4.2, 'chetan', 'karan'}

In [10]:
my_set={4,3.3,'karan',[2,4,5]} #mutable list is not allowed
my_set

TypeError: unhashable type: 'list'

In [11]:
my_set=set((2,4,1,6,2,9)) #another way of creating set
my_set

{1, 2, 4, 6, 9}

# add(a)
"a" is added to the set

In [12]:
print("Set before adding element=",my_set)
my_set.add('chetan')
print("Set after adding element=",my_set)

Set before adding element= {1, 2, 4, 6, 9}
Set after adding element= {1, 2, 4, 6, 9, 'chetan'}

# update()
add multiple element in the set

In [13]:
print("Set before update operation=",my_set)
my_set.update(['karan','dimple'])
print("Set after update operation=",my_set)

Set before update operation= {1, 2, 4, 6, 9, 'chetan'}
Set after update operation= {'dimple', 1, 2, 4, 6, 'karan', 9, 'chetan'}

# remove(a)
remove "a" from the set.
if "a" is not present raise KeyError

In [14]:
print("Set before remove operation=",my_set)
my_set.remove('karan')
print("Set after remove operation=",my_set)

Set before remove operation= {'dimple', 1, 2, 4, 6, 'karan', 9, 'chetan'}
Set after remove operation= {'dimple', 1, 2, 4, 6, 9, 'chetan'}

In [15]:
my_set.remove('manish')
my_set

KeyError: 'manish'

# discard(a)
remove "a" from set if found else does nothing

In [16]:
my_set.discard('chetan')
my_set

{1, 2, 4, 6, 9, 'dimple'}

In [17]:
my_set.discard('chetan') #does not raise KeyError if value not found
my_set

{1, 2, 4, 6, 9, 'dimple'}

# clear()
remove all element from the set

In [18]:
my_set.clear()
my_set

set()

In [19]:
del my_set
my_set

NameError: name 'my_set' is not defined

# Union

In [20]:
A={1,2,3,4,5,6}
B={9,1,7,3}
C={5,4,6,8}

In [21]:
A | B   #finds uninon of "A" and "B"

{1, 2, 3, 4, 5, 6, 7, 9}

In [22]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 9}

In [23]:
A

{1, 2, 3, 4, 5, 6}

In [24]:
A.update(B,C)  # updates "A" with union of "B" and "C"
A

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [25]:
del A,B,C

# Intersection

In [26]:
A={1,2,3,4,5,6}
B={4,5,6,7,8,9}

In [27]:
A & B #intersection of "A" and "B"

{4, 5, 6}

In [28]:
A.intersection(B) #intersection of "A" and "B"

{4, 5, 6}

In [29]:
A.intersection_update(B)
A

{4, 5, 6}

In [30]:
del A,B

# Difference

In [31]:
A={1,2,3,4,5,6}
B={4,5,6,7,8,9}

In [32]:
A-B

{1, 2, 3}

In [33]:
A.difference(B)

{1, 2, 3}

In [34]:
B-A

{7, 8, 9}

In [35]:
B.difference(A)

{7, 8, 9}

In [36]:
A.difference_update(B)
A

{1, 2, 3}

In [37]:
del A,B

# symmetric difference

In [38]:
A={1,2,3,4,5,6}
B={4,5,6,7,8,9}

In [39]:
A^B # elements that are neither in "A" nor in "B"

{1, 2, 3, 7, 8, 9}

In [40]:
B^A

{1, 2, 3, 7, 8, 9}

In [41]:
A.symmetric_difference(B)

{1, 2, 3, 7, 8, 9}

In [42]:
B.symmetric_difference(A)

{1, 2, 3, 7, 8, 9}

In [43]:
A.symmetric_difference_update(B)
A

{1, 2, 3, 7, 8, 9}

In [44]:
del A,B

# Subset Superset Disjoint

In [45]:
A={1,2,3,4,5,6,7,8,9}
B={3,4,5,6,7,8}
C={10,20,30}

In [46]:
B.issubset(A)  # "B" is called subset of "A" if all elements of "B" are present in "A"

True

In [48]:
A.issuperset(B) # "A" is called superset of "B" if all elements of "B" are present in "A"

True

In [49]:
C.isdisjoint(A) # "C" is called disjoint of "A" if they have no common element

True

In [50]:
A.isdisjoint(B)

False

In [51]:
del A,B,C

# pop()
remove random element from the set and return it

In [52]:
A={1,2,3,4,5,6,7,8,9}

In [53]:
A.pop()

1

In [54]:
A

{2, 3, 4, 5, 6, 7, 8, 9}

In [55]:
A.pop()

2

In [56]:
A

{3, 4, 5, 6, 7, 8, 9}

In [57]:
A.pop()

3

In [58]:
A

{4, 5, 6, 7, 8, 9}

In [59]:
del A

In [60]:
A={"chetan","Manish","Karan",1,3,4,5}

In [61]:
A.pop()

1

In [62]:
A

{3, 4, 5, 'Karan', 'Manish', 'chetan'}

In [63]:
A.pop()

3

In [64]:
A

{4, 5, 'Karan', 'Manish', 'chetan'}

In [65]:
del A

# other function in set

In [66]:
A={1,2,3,4,5,6,7,8,9}
A

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [67]:
min(A)

1

In [68]:
max(A)

9

In [69]:
sum(A)

45

In [70]:
len(A)

9

In [71]:
sorted(A)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [72]:
sorted(A,reverse=True)

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [73]:
del A

# Finish